%h2= t('.title')

= button_to t('.user_registration_path.text'), user_registration_path,
            { method: :delete,
              form: { data: { turbo_confirm: t('.user_registration_path.confirm') } },
              class: 'btn btn-danger float-end' }

.mt-5
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = f.input :name
    = f.input :password, label: t('.hint.password')
    = f.input :password_confirmation, label: t('.hint.password_confirmation')
    = f.input :current_password
    = f.button :submit
