%h2= t('.title')

= simple_form_for(resource, url: user_registration_path) do |f|
  = f.input :name
  = f.input :password
  = f.input :password_confirmation
  = f.button :submit

= link_to t('devise.sessions.new.title'), new_user_session_path,
          class: 'd-block mt-4'
