%h1.fs-2= t('devise.registrations.edit.title')

= render 'layouts/error_message', resource: @user

= simple_form_for(@user, html: { method: :put, class: 'mt-5' }) do |f|
  = f.input :profile
  = f.input :external_blog_url
  = f.button :submit
