%h1.fs-2= t('users.edit.title')

.container.bg-light-subtle.border.container.mt-5.p-4.rounded-3.text-break
  .mb-3
    %h2= t('activerecord.attributes.user.name')
    %p= @user.name

  .mb-3
    %h2= t('activerecord.attributes.user.introduction')
    %p= @user.introduction

  %h2= t('activerecord.attributes.user.external_blog_url')
  = auto_link @user.external_blog_url, html: { target: :_blank }

- if current_user == @user
  = link_to t('profile.edit.title'), profile_edit_path, class: 'btn btn-primary mt-5'
