.card.comment.mb-3
  .card-body.p-0
    .d-flex
      .w-100
        %p.fs-5.p-3.comment-body= comment.body
      .p-3.text-nowrap
        .d-flex.align-items-center
          = link_to user_path(comment.user) do
            = image_tag comment.user.avatar_icon, class: 'rounded-circle'
            = comment.user.name
          = render 'shared/follow_button', user: comment.user
        %p.m-3.text-end= l comment.created_at
        = link_to t('posts.comments.new.title'), new_post_comment_path(comment.post, parent_comment_id: comment.id), class: 'btn btn-primary float-end mt-3'
  - comment.child_comments.order(created_at: :asc).includes(:user).each do |child_comment|
    .container
      = render 'shared/comment', comment: child_comment
