- posts.includes(:user).find_each do |post|
  .card.post
    .card-body
      %p.fs-5= post.body
      .d-flex.justify-content-between
        - if current_user.like?(post)
          = button_to 'like', like_path(Like.find_by(post:, user: current_user)), { method: :delete, class: 'btn not-like' }
        - else
          = link_to 'like', post_likes_path(post), data: { turbo_method: :post }, class: 'btn like'
        .text-end
          posted_by:
          = link_to post.user.name, user_path(post.user)
          - unless current_user == post.user
            - if current_user.following?(post.user)
              = button_to t('.unfollow'), relationship_path(current_user.active_relationships.find_by(followed: post.user)),
                          method: :delete,
                          class: 'btn btn-outline-dark',
                          form_class: 'd-inline-block ms-4'
            - else
              = link_to t('.follow'), relationships_path(followed_id: post.user), data: { turbo_method: :post }, class: 'btn btn-dark ms-4'
          %p.mt-2.mb-0= l post.created_at
