- posts.includes(:user).find_each do |post|
  .card.post
    .card-body.p-0
      .d-flex
        .w-100
          = link_to '', class: 'd-block h-100' do
            %p.fs-5.p-3= post.body
        .p-3.text-nowrap
          .d-flex
            posted_by:
            = link_to post.user.name, user_path(post.user)
            - unless current_user == post.user
              - if current_user.following?(post.user)
                = button_to t('.unfollow'), relationship_path(current_user.active_relationships.find_by(followed: post.user)),
                            method: :delete,
                            class: 'btn btn-outline-dark',
                            form_class: 'd-inline-block ms-4'
              - else
                = link_to t('.follow'), relationships_path(followed_id: post.user), data: { turbo_method: :post }, class: 'btn btn-dark ms-4'
          %p.mt-2.mb-0.text-end= l post.created_at
          .d-flex.align-items-center.me-4
            - if current_user.like?(post)
              = button_to '♡', like_path(Like.find_by(post:, user: current_user)), { method: :delete, class: 'btn like' }
            - else
              = link_to '♡', post_likes_path(post), data: { turbo_method: :post }, class: 'btn not-like'
            = link_to t('.likes_count', count: post.likes_count), post_likes_path(post), class: 'ms-2'
            = link_to t('.comments_count', count: post.comments_count), '#', class: 'ms-2'
