%h1.fs-2= t('.title')

= link_to t('posts.new.title'), new_post_path, class: 'btn btn-primary my-4'

- @posts.includes(:user).find_each do |post|
  .card.post
    .card-body
      %p.fs-5= post.body
      .text-end
        posted_by:
        = link_to post.user.name, user_path(post.user)
        - unless current_user == post.user
          - if current_user.follow?(post.user)
            = button_to t('.following'), relationship_path(current_user.active_relationships.find_by(followed: post.user)), method: :delete, class: 'btn btn-outline-dark', form_class: 'd-inline-block ms-4'
          - else
            = link_to t('.follow'), relationships_path(followed_id: post.user), data: { turbo_method: :post }, class: 'btn btn-dark ms-4'
        %p.mt-2.mb-0= l post.created_at
